headerbar, .header-bar {
  
  background-color: #181818;
  border: none;
  
}

headerbar:not(:backdrop),
.header-bar:not(:backdrop) {
  background-image: none;
  background-color: #181818 !important; 
  border: none;
}

TerminalWindow headerbar .title {
    color: rgba(0, 0, 0, 0);  /* fully transparent */
}

terminal-window .titlebar{
  color: transparent;
}
